html {
    font-family: "Yu Gothic", Helvetica, sans-serif;
}

/* HEADER */

nav {
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    height: 93px;
    font-size: 18px;
}

.nav-options li {
    display: inline-block;
    padding-right: 80px;
    cursor: pointer;
}

.icons {
    margin-right: 5px;
}

nav .nav-options li:last-child {
    padding-right: 200px;
}

.site-icon-container {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-shadow: 4px 4px 4px #404040;
}

.home-icon-container {
    padding-left: 120px;
    padding-right: 200px;
}

.search-tool-container {
    font-size: 22px;
    color: #a3a3a3;
    cursor: pointer;
}

.search-tool-container:hover {
    color: #000;
    transition: .5s;
}

.banner {
    width: 100%;
    height: 600px;
	background-image: url('../assets/img/banner.jpg');
    background-size: cover;
	background-position: center;
	position: relative;
}

.box-container {
    width: 400px;
    height: 200px;
    text-align: justify;
    position: absolute;
    top: 200px;
    left: 300px;
    color: #FFF;
}

.box-background {
    width: 100%;
    height: 100%;
    background-color: #0b0b0c;
    border-radius: 2.5%;
    padding: 0px 20px 35px 20px;
    line-height: 1.5;
    letter-spacing: .07em;
}



.banner-text-title {
    padding-top: 45px;
    font-size: 28px;
    color: #d1c804;
}

.banner-text-subtitle {
    font-size: 15px;
    
}

.standard-btn-style {
    background-color: #d1c804;
    border: 1px solid transparent;
    transition: .25s;
    cursor: pointer;
}

.standard-btn-style:hover {
    color: #d1c804;
    background-color: #000;
    border-color: #d1c804;
}

.banner-text-btn {
    margin-top: 25px;
    width: 180px;
    height: 40px;
    font-size: 15px;
}



/* BLOG CONTAINER */

.blog-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -250px;
    padding-top: 30px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.blog-container-title {
    display: block;
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: .15em;
    
}

.article-cover-container {
    width: 320px;
    height: 300px;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: .07em;
    margin-bottom: 20px;
    transition: .5s;
    border: 1px solid transparent;
    padding: 5px;
}

.article-cover-container:hover {
    border-color: #000;
}

.article-title {
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 10px;
}

.article-img-cover {
    width: 320px;
    height: 180px;
    border-radius: 2.5%;
    background-size: cover;
    background-position: center;
    
}

.article-cover-date {
    margin-top: 8px;
    font-size: 11px;
    color: #a3a3a3;
}

.newsletter-message {
    width: 150px;
    height: 300px;
    position: relative;
    left: 0;
    top: 400px;
    margin-left: 20px;
    background-color: #000;
    color: #d1c804;
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
}



.newsletter-message p {
    margin-top: 20px;
    font-size: 13px;
    box-sizing: border-box;
}

.newsletter-icon {
    padding-top: 100px;
    font-size: 30px;
}

.newsletter-message-btn {
    margin-top: 40px;
    width: 140px;
    height: 30px;
}

/* FOOTER */

footer {
    margin-top: 50px;
    background-color: #000;
    color: #a3a3a3;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px;
    border-top-left-radius: 3.5%;
    border-top-right-radius: 3.5%;
}

.footer-options-container {
    width: 300px;
    height: 100px;
    line-height: 3;
    letter-spacing: 0.3em;
    padding: 35px 0 0 140px;
}

.footer-options a {
    color: #d1c804;
    cursor: pointer;
}

.copyright-paragraph {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 20px 20px 140px;
    background-color: #0e0f0f;
    
}

/* GENERAL STYLES */

.required-field {
    color: #ff0000;
}

.link-style {
    text-decoration: underline;
    color: #00a2ff;
    cursor: pointer;
}

.link-style:hover {
    color: #d000ff;
}


/* IMAGES */

#img-1 {
    background-image: url(../assets/img/The_Sun_King.jpg);
}

#img-2 {
    background-image: url(../assets/img/Lincoln_And_Johnson.jpg);
}

#img-3 {
    background-image: url(../assets/img/playing_shamisen.jpg);
}
    
#img-4 {
    background-image: url(../assets/img/axis_powers.jpg);
}

#img-5 {
    background-image: url(../assets/img/Garibaldi.jpg);
}

#img-6 {
    background-image: url(../assets/img/Nine_Dragons.jpg);
}

#img-7 {
    background-image: url(../assets/img/Ceramic_shop.jpg);
}

#img-8 {
    background-image: url(../assets/img/march_Allende.jpg);
}

#img-9 {
    background-image: url(../assets/img/Wang_qishan_basketball.jpg);
}




